**/kubeconfig.y[a]ml
*kubeconfig*.y[a]ml
.vscode/
__pycache__/
**/*.secret
.DS_Store
.tox/
**/.ruff_cache

# Ignore local dev helpers
test-values.y[a]ml
**venv*/

# Helm chart stuff
charts/*/Chart.lock
charts/*/charts

# Python stuff
**/build/
**/*.egg-info/
**/flagged/
web-apps/**/overrides.yml
