**/kubeconfig.y[a]ml
*kubeconfig*.y[a]ml
.vscode/
__pycache__/
**/*.secret

# Ignore local dev helpers
test-values.y[a]ml
chart/web-app/settings.yml
gradio-client-test.py
venv*/

# Helm chart stuff
chart/Chart.lock
chart/charts