**/kubeconfig.y[a]ml
*kubeconfig*.y[a]ml
.vscode/
__pycache__/
**/*.secret
.DS_Store
.tox/
**/.ruff_cache

# Ignore local dev helpers
**/dev-values.yml
**venv*/

# Helm chart stuff
charts/*/Chart.lock
charts/*/charts

# Python stuff
**/build/
**/*.egg-info/
**/flagged/
web-apps/**/overrides.yml
**/.env

# devenv
.devenv
.devenv.flake.nix
devenv.lock

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
